In [1]:
n =  'course_number'
m = 765

In [2]:
n = m
m = n

In [3]:
n

765

In [4]:
m

765

The original value of variable n is 'course_number' and the value of m is 765. The value of m replaces the value of n once m is equal to n. As a result, the value to n becomes 765 instead of 'course_number'.

In [8]:
n =  'course_number'
m = 765
temp1 = n
n = m
m = temp1

In [9]:
n

765

In [10]:
m

'course_number'

In order for the values n and m to be swapped, temporary variables can be set to the value of the orignal variable. The temporary variable is temp1. temp1 is equal to n, which is already equal to 'course_number'. n is then is equal to m, which is already set to 765. Lastly, m is set to be equal to temp1, thus completing the variable swap.